# Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Project_datasets/zomato-Copy1.csv')

In [3]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

# Cleaning and Subseting of data

In [4]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

cleaning data

In [6]:
df.drop(['url','address','phone','dish_liked','menu_item','reviews_list'],axis=1,inplace=True)

In [7]:
df.head()

,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

In [8]:
df['listed_in(type)'].value_counts()

Delivery              25942
Dine-out              17779
Desserts               3593
Cafes                  1723
Drinks & nightlife     1101
Buffet                  882
Pubs and bars           697
Name: listed_in(type), dtype: int64

In [9]:
df.shape

(51717, 11)

Changing data types

In [10]:
#df.drop(df.index[72:73],inplace= True)
#df['rate'] = df['rate'].str.replace('/5','',regex=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   name                         51717 non-null  object
 1   online_order                 51717 non-null  object
 2   book_table                   51717 non-null  object
 3   rate                         43942 non-null  object
 4   votes                        51717 non-null  int64
 5   location                     51696 non-null  object
 6   rest_type                    51490 non-null  object
 7   cuisines                     51672 non-null  object
 8   approx_cost(for two people)  51371 non-null  object
 9   listed_in(type)              51717 non-null  object
 10  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(10)
memory usage: 4.3+ MB

In [12]:
df.shape

(51717, 11)

In [13]:
#Droping duplicate value
df.duplicated().value_counts()

False    51609
True       108
dtype: int64

In [14]:
df.drop_duplicates(inplace=True)

In [15]:
# Missing Values

In [16]:
df.isna().sum()

name                              0
online_order                      0
book_table                        0
rate                           7755
votes                             0
location                         21
rest_type                       227
cuisines                         45
approx_cost(for two people)     344
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [17]:
'''Converting app.value into int and filling it with mean value '''
df['approx_cost(for two people)'] = df['approx_cost(for two people)'].apply(pd.to_numeric, errors='coerce')
df['approx_cost(for two people)'].fillna(df['approx_cost(for two people)'].mean(), inplace=True)
df['approx_cost(for two people)']=df['approx_cost(for two people)'].astype(int)
#df['approx_cost(for two people)'] = df['approx_cost(for two people)'].str.replace(',','').astype(int)

In [18]:
#df.drop(df.index[72:73],inplace= True)
df['rate']=df['rate'].str.replace('/5','',regex=True)
df['rate'] = df['rate'].apply(pd.to_numeric, errors='coerce')

In [19]:
#df.dropna(inplace=True)

In [20]:
df.isna().sum()

name                               0
online_order                       0
book_table                         0
rate                           10019
votes                              0
location                          21
rest_type                        227
cuisines                          45
approx_cost(for two people)        0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

In [21]:
#reseting the index
df.reset_index(inplace=True)#don't run multiple time
df.drop(['index'],inplace=True,axis=1)
df.shape

(51609, 11)

In [22]:
#df['name'].nunique()

In [23]:
#df[['name','listed_in(type)']]

# Exploring data

In [24]:
#df.describe(include='object')

In [25]:
#df.describe()

In [26]:
#top_rating = [] # filtering top voting 
#for i in df['rate'] :
   # if i%0.5 ==0:
   #     top_rating.append(i)
#print(top_rating)
#len(top_rating)

In [27]:
#restaurant_type=df['rest_type'].value_counts()
#type_below_1000=restaurant_type[restaurant_type<1000]
#type_below_1000

In [28]:
#def cleaned_type(value):
   # if(value in type_below_1000):
    #    return 'Others'
  #  else:
     #   return value
    #
#df['rest_type']=df['rest_type'].apply(cleaned_type)
#df['rest_type'].value_counts()

In [29]:
#df.info()

In [30]:
# 3.Feature Encoding
# Dont execute multiple times
#df['online_order'] = df['online_order'].map({'Yes':0,'No':1})
#df['book_table'] = df['book_table'].map({'Yes':0,'No':1})

In [31]:
#df['location'].value_counts()

In [32]:
#df['rest_type'].value_counts()

In [33]:
#df['rest_type'].unique()

In [34]:
#df['listed_in(type)'].unique()

In [35]:
#df.corr()

# analyizing and visualizing data

In [36]:
#top_15_location = df['location'].value_counts()[:15].reset_index(name='counts')
#top_15_location
#sns.barplot(x='location',y='counts',data='top_15_location')

In [37]:
#y=df['location'].value_counts()[:10]
#x=y.index
#fig = plt.figure(figsize = (10, 5))
#plt.title("Top 10 location")
# creating the bar plot
#sns.barplot(x=x,y=y,data=df)
#plt.xlabel("Location")
#plt.xticks(rotation=90)
#plt.ylabel("counts")
#plt.show()

In [38]:
#x=df['name'].head(10)
#y=df['rate']
#plt.xticks(rotation=90)
#sns.barplot(x=x,y=y,data=df)
#plt.xlabel("Name")
#plt.ylabel("rating")
#plt.show()

In [39]:
#df.corr()

In [40]:
columns_numeric = list(df.select_dtypes(exclude='object').columns)
#columns_numeric

In [41]:
columns_numeric.remove('approx_cost(for two people)')

In [42]:
columns_cat = list(df.select_dtypes(include='object').columns)

In [43]:
columns_cat.remove('name')

In [44]:
from sklearn.impute import SimpleImputer

In [45]:
imputer_numeric = SimpleImputer(strategy='median')
imputer_numeric.fit(df[columns_numeric]) # finding out median of numeric columns
df[columns_numeric] = imputer_numeric.transform(df[columns_numeric])

In [46]:
imputer_cat = SimpleImputer(strategy='most_frequent')
imputer_cat.fit(df[columns_cat]) # finding out median of numeric columns
df[columns_cat] = imputer_cat.transform(df[columns_cat])

In [47]:
df.isna().sum()

name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
cuisines                       0
approx_cost(for two people)    0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [48]:
from sklearn.preprocessing import MinMaxScaler

In [49]:
scaler = MinMaxScaler()
scaler.fit(df[columns_numeric])
df[columns_numeric] = scaler.transform(df[columns_numeric])

# Feature engineering

One hot encoding - ohe

In [50]:
from sklearn.preprocessing import OneHotEncoder

In [51]:
ohe = OneHotEncoder(handle_unknown ='ignore',sparse = False)
ohe.fit(df[columns_cat])

OneHotEncoder(handle_unknown='ignore', sparse=False)

In [52]:
len(ohe.get_feature_names())

2950

In [53]:
ohe.transform(df[columns_cat])

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       [0., 1., 1., ..., 0., 0., 0.],
       ...,
       [1., 0., 1., ..., 0., 0., 1.],
       [1., 0., 0., ..., 0., 0., 1.],
       [1., 0., 1., ..., 0., 0., 1.]])

In [54]:
df[ohe.get_feature_names()] = ohe.transform(df[columns_cat])

C:\Users\Doted\anaconda3\lib\site-packages\pandas\core\frame.py:3678: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead.  To get a de-fragmented frame, use `newframe = frame.copy()`
  self[col] = igetitem(value, i)

In [55]:
df_cat =df[ohe.get_feature_names()]

In [56]:
df.shape

(51609, 2961)

In [57]:
df_num =df[columns_numeric]

In [58]:
X= pd.concat([df_num,df_cat],axis=1)
y = df['approx_cost(for two people)']

# Building Model

In [59]:
from sklearn.tree import DecisionTreeClassifier

In [60]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.25,random_state = 22)

In [61]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [62]:
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

In [63]:
param_dist = {
    #'n_estimators': np.arange(10, 150, 10),  # Number of decision trees in the forest
    'max_depth': [None] + list(np.arange(100, 201, 10)), #, # Maximum depth of each decision tree
    'min_samples_split': np.arange(1, 21),  # Minimum samples required to split an internal node
    'min_samples_leaf': np.arange(1, 11),   # Minimum number of samples required to be at a leaf node
    'max_features': ['auto', 'sqrt', 'log2']}

In [64]:
params = {'max_depth':[100,120,200],'min_samples_leaf':[1,2,5],'min_samples_split': [2, 5, 10],'max_features': ['auto', 'sqrt', 'log2']}

In [65]:
# Create a randomized search with cross-validation
#random_search = RandomizedSearchCV(estimator=DecisionTreeClassifier(random_state=22), param_distributions=param_dist, 
                             #     n_iter=100, cv=5, n_jobs=-1, verbose=2, scoring='accuracy', random_state=22)
#Fit the randomized search to the training data
#random_search.fit(X_train_scaled,y_train)

In [66]:
# Print the best hyperparameters found by the randomized search
#print("Best Hyperparameters:")
#print(random_search.best_params_)

In [67]:
#random_search.best_score_

In [68]:
#grid_cv = GridSearchCV(DecisionTreeClassifier(random_state=1),param_grid=params,cv=5,verbose=0,)
#grid_cv.fit(X_train_scaled,y_train)

In [69]:
#grid_cv.best_params_

In [70]:
#grid_cv.best_score_

In [71]:
model = DecisionTreeClassifier(random_state=22,criterion='entropy',max_depth=200,min_samples_split = 2)
model.fit(X_train_scaled,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=200, random_state=22)

In [72]:
model.score(X_test_scaled,y_test)

0.8508098891730606

In [73]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [74]:
yp = model.predict(X_test_scaled)
acc = accuracy_score(y_test,yp)
pre = precision_score(y_test,yp,average='micro')
rec = recall_score(y_test,yp,average='micro')
f1 = f1_score(y_test,yp, average='weighted')
print('Accuracy =',acc,' ','precision score = ',pre,' ','recall score = ',rec,' ','f1_score = ',f1)

Accuracy = 0.8508098891730606   precision score =  0.8508098891730606   recall score =  0.8508098891730606   f1_score =  0.8506353306618233

In [59]:
import pickle

In [77]:
pickle.dump(model,open('model.pkl','wb'))

In [78]:
load_model = pickle.load(open('model.pkl','rb'))

In [61]:
pickle.dump(ohe,open('ohe.pkl','wb'))

In [62]:
load_model = pickle.load(open('ohe.pkl','rb'))

In [75]:
#df.to_csv('zomatato_ds',index=False)